:root {
  --rose: #f72585;
  --grape: #7209b7;
  --zaffre: #3a0ca3;
  --neon-blue: #4361ee;
  --vivid-sky-blue: #4cc9f0;
  --primary: rgb(0 123 255);
  --secondary: rgb(108 117 125);
  --bg-success: rgb(40 167 69);
  --bg-danger: rgb(220 53 69);
  --bg-warning: rgb(255 193 7);
  --bg-info: rgb(23 162 184);
  --bg-light: rgb(248 249 250);
  --bg-dark: rgb(52 58 64);
  --bg-white: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #4cc9f0;
}
