.container {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  padding: 24px;
  justify-content: center;
  text-wrap: nowrap;
  padding-top: 100px;
}

.task {
  background: #ffffff;
  width: 200px;
  height: max-content;
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  box-shadow: 2px 2px 10px #000;
  border-radius: 20px;
}
.task * {
  width: 100%;
}
.state {
  color: var(--bg-danger);
}
.button {
  background: var(--bg-danger);
  padding: 8px;
  font-weight: 600;
  border-radius: 16px;
}
